# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
/.build
/Packages
Package.resolved

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# SwiftPM
.swiftpm/

# Credentials
.netrc
*.p12
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo
